Greetings from Buildonn, Your order ID: ${sms.orderId} containing ${sms.itemCount} items have been cancelled by you. Hope to serve you next time. Incase, if you have not cancelled it please contact us immediately to place an order. Team, Buildonn +91 9916406611