Greetings from Buildonn, Thank you for placing an order ${sms.orderId}. It is under process. Your total order amount is ${sms.orderAmount} and you will receive an SMS or email on the progress. Log on to www.buildonn.com to track your order. Team, Buildonn +91 9916406611