Greetings from Buildonn, Congratulations!! You have earned ${sms.instantOrderTextInfo} points today through your recent transaction. Total outstanding points as on ${sms.date} - ${sms.orderAmount} points. If you want to redeem your points please contact us. Team, Buildonn +91 9916406611