<html>
<body>
<p>Dear Dealer,</p>
<p>Attention! A new order is placed from ${mail.name}  for the following item(s) for you.,</p>
<p>Order ID: ${mail.orderId}<br>
Total Items: ${mail.itemCount}<br>
Total Order amount: ${mail.amount}</p>

#set ($count = ${mail.itemCount})
#set ($itemsMap = ${mail.itemsMap})

#foreach ($number in [1..$count])
	#set ($itemId = ("itemId")+$number)
	#set ($itemName = ("itemName")+$number)
	#set ($itemUrl = ("itemUrl")+$number)
    $number
    <tr><td>$itemsMap.get($itemId)</td><td>$itemsMap.get($itemName)</td>><td>$itemsMap.get($itemUrl)</td></tr>
#end

<p>Log on to 
<a href="https://dev.mybuildguru.com/#/home">https://dev.mybuildguru.com/#/home</a> to track the orders</p>

<p>&ldquo;Happy Building, Happy Living&rdquo;<br>
Team MBG<br>
Support@mybuildguru.com<br>
Toll Free number: 0000030000300<br>
Social links: Google plus, Facebook,</p>
</body>
</html>